#nav-bar{
	padding:15px; 
	color:white; 
	font-size:16px; 
	font-family:verdana;
}
#button1{
    height:40px;
    width:150px;
    background-color:#94baf7;
    border: none;
    border-radius:5px;
    font-family:Segoe Print;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}