#box{
    height: 100%;
    width: 100%;
    background-color:#d9e6fc;
}

#box2{
    height:50px;
    width:100%;
    background-color:blue;
}

#box3{
    height: 100%;
    width: 50%;
}

#box4{
        
        height: 100%;
        width: 50%;
    }


#table1{
    height:50px;
    width:100%;
    background-color:#022450;
    font-family: verdana;
    font-size: 20px;
    color:white;
}

#table2{
    height: 100%;
        width: 100%;
}

#button1{
    height:40px;
    width:150px;
    background-color:#94baf7;
    border: none;
    border-radius:5px;
    font-family:Segoe Print;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}